# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. C++
5. Java

among others.

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. NumPy
3. SciPy
4. Pandas
5. Matplotlib
6. Scikit-Learn
7. Keras
8. PyTorch

among others.

| **Data Science Tools**    |
|----------------------------|
| Jupyter Notebook           |
| RStudio                    |
| Apache Spark               |
| TensorFlow                 |
| SAS                        |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This is a simple arithmetic expression to multiply, then add integers
(3 * 4) + 5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

__Objective__
* List popular languages for Data Science            
* List popular libraries for Data Science
* List of Well-known Data Science Tools
* How to Provide comments in the cell

## Author
Saul isai Arellano A.